<% if @user.fridges.any? %>
	<% @user.fridges.each do |f| %>
		<div>
			<h3><%= f.name %></h3>
			<input id="<%= f.id %>" placeholder="Type to add item..." type="text" class="typeaheadTxt span3" data-provide="typeahead" data-items="4" />			
		</div>
		<% #Only select items with status = 0 (Active) %>		

		<%= render 'user_food_items/fridge_items', :fridge => f %>		
		
	<% end %>
<% else %>
	You have no fridges
<% end %>

<!-- <div>
	<%= link_to "Add Item", new_user_food_item_path %>
</div> -->