<div class="center hero-unit">
  <h1>Welcome to Neel's Food App</h1>

  <h2>
    Don't you hate throwing away your groceries that have gone bad before you could use them? We've got the solution.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
