<!--<div class="center hero-unit">
  <h1>Welcome to Neel's Food App</h1>

  <h2>
    Don't you hate throwing away your groceries that have gone bad before you could use them? We've got the solution.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>-->

<div style="text-align: center">
	<h1 style="font-size: 80px">
		Coming Soon!
	</h1>
	<h4>I know you can't wait, but in the meantime check out these to get a taste (no pun intended) of what is coming: </h4>
		<ul style="list-style:none; font-size: 16px">
			<li><a href="http://www.wastedfood.com/">Wasted Food</a> - a great blog and a great book</li>
			<li><a href="https://www.google.com/search?btnG=1&pws=0&q=food+waste">Food Waste Google Results</a> - click around, read some articles, it's eye opening.</li>
		</ul>	
	<br><br>
	<h4>
		Or check out my blog! <a href="http://www.neelbhat.com">neelbhat.com</a>
	</h4>
</div>

